VITE_API_BASE_URL=/api
VITE_BACKEND_BASE_URL=http://127.0.0.1:8000
VITE_SANCTUM_CSRF_ENDPOINT=http://127.0.0.1:8000/sanctum/csrf-cookie
VITE_API_MY_REQUEST_ENDPOINT=/revisi/requests
VITE_API_PROCESS_REQUEST_ENDPOINT=/revisi/process-requests
VITE_API_REQUEST_REPORT_ENDPOINT=/revisi/reports
VITE_API_REVISI_MY_REQUEST_JSON_ENDPOINT=/revisi/requests
VITE_API_REVISI_PROCESS_REQUEST_JSON_ENDPOINT=/revisi/process-requests
VITE_API_REVISI_REQUEST_REPORT_JSON_ENDPOINT=/revisi/reports
VITE_API_REVISI_REPORT_DOWNLOAD_ENDPOINT=/revisi/reports/download
